.product {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.image-gallery {
    flex: 2;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 350px;
}

.image-gallery .main-photo img {
    border-radius: 50px;
    width: 600px;
    height: 600px;
    object-fit: cover;
    border: 1px solid #333;
}

.thumbnails {
    display: flex;
    flex-direction: column; /* Фотографии будут располагаться по вертикали */
    justify-content: space-between; /* Расстояние между изображениями */
    /*height: 100%; !* Блок с миниатюрами будет равен высоте главного фото *!*/
    margin-left: 10px; /* Отступ между главным фото и миниатюрами */
}

.thumbnails img {
    border-radius: 20px;
    width: 100px; /* Миниатюры будут растягиваться по ширине контейнера */
    height: auto; /* Пропорциональное изменение высоты */
    margin-bottom: 10px; /* Отступ между миниатюрами */
    transition: transform 0.5s ease;
}

.thumbnails img:hover {
    transform: scale(3);
}

.product-details {
    width: 100%;
    flex: 1;
    margin-left: 20px;
    margin-right: 50px;
}

.product-details h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.product-price {
    font-size: 20px;
    margin-bottom: 15px;
}

.sizes {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.sizes button {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    width: 70px;
    height: 70px;
    background-color: #333;
    color: #fff;
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.5s ease;
}

.sizes button:hover {
    background-color: #74c8b0;
    transform: scale(1.2);
}

.sizes button.active {
    background-color: #74c8b0;
}

.buy-button {
    color: white;
    background-color: #333;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 200px;
    height: 60px;
    align-content: center;
    letter-spacing: 6px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #74c8b0;
    transform: scale(1.2);
}

.description {
    font-size: 28px;
}

.description p {
    margin: 5px 0;
}

.description b {
    color: #fff;
}

.buy-modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    z-index: 1000;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-header h2 {
    margin: 0;
    font-size: 18px;
}

/* Иконка закрытия */
.close-modal {
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    float: right;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

.close-modal:hover,
.close-modal:focus {
    color: #d32f2f; /* Красный при наведении */
    transform: rotate(90deg); /* Легкое вращение */
}

.modal-body {
    align-items: center;
    justify-content: center;
}

.modal-body input {
    width: calc(100% - 10px);
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-footer {
    align-items: center;
    text-align: right;
}

.modal-footer button {
    width: 100px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: #74c8b0;
    border-radius: 10px;
    cursor: pointer;
    align-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.modal-footer button:hover {
    background-color: #74c8b0;
    color: white;
    transform: scale(1.2);
}