body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background: #111;
    line-height: 1.6;
    overflow: hidden;
}

/* Общие стили для header */
header {
    display: flex;
    justify-content: space-between; /* Логотип слева, меню занимает остальную часть */
    align-items: center; /* Выравнивание по вертикали */
    padding: 0 20px; /* Отступы слева и справа */
    height: 80px; /* Высота шапки */
    background: rgba(0, 0, 0, 0.8); /* Темный фон для контраста */
    position: sticky; /* Закрепляем header наверху страницы */
    top: 0;
    z-index: 1000;
}

/* Логотип */
header .logo-link {
    width: 150px; /* Настройка ширины логотипа */
    height: auto; /* Сохраняем пропорции */
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
}

header .logo-link:hover {
    transform: scale(1.1);
}

/* Стили для меню */
header nav {
    flex-grow: 1; /* Занимает оставшееся пространство */
    text-align: center; /* Центрирование текста */
}

header nav ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
    display: inline-flex; /* Горизонтальное выравнивание меню */
    gap: 30px; /* Расстояние между пунктами меню */
}

header nav ul li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #fff; /* Белый цвет текста */
    font-size: 1.2rem; /* Размер шрифта */
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
}

header nav ul li a:hover {
    color: #f0a500; /* Цвет при наведении */
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/main_page/hero.png') no-repeat center center/cover;
    text-align: center;
    max-height: 400px;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero .btn {
    background: #f0a500;
    color: #111;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s, background 0.3s;
}

.hero .btn:hover {
    background: #d89000;
    transform: scale(1.2);
}

section {
    padding: 50px 20px;
    text-align: center;
}

.music-section, .tour-section, .contacts-section {
    background: #222;
    margin-bottom: 20px;
}

.about-section {
    background: #222;
    margin-bottom: 20px;
}

.about-section h2 {
    font-size: 220%;
}

.about-section p {
    font-size: 200%;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px;
    overflow: hidden;
}

.about {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.about-item {
    flex: 0 0 33.33%;
    text-align: center;
    padding: 10px;
}

.about-item img {
    height: 70%;
    max-width: 80%;
    border-radius: 20%;
}

.track-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.music-section h2 {
    font-size: 220%;
}

/* Стили для карточки альбома */
.album-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.album-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

/* Логотип альбома */
.album-logo {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}

.album-logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Информация об альбоме */
.album-info {
    padding: 15px;
    text-align: center;
}

.album-info a {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #333;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s;
}

.album-info a:hover {
    color: #d89000;
    transform: scale(1.2);
}

.album-info p {
    font-size: 1em;
    margin: 0;
    color: #666;
}

.tour-section h1 {
    font-size: 220%;
}

#tour-list p {
    font-size: 1.2rem;
    color: #444;
}

/* Карточка концерта */
.concert-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
}

.concert-card:hover {
    background-color: #f0a500; /* Красный цвет */
    color: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.concert-card h2, .concert-card p {
    margin: 0;
    transition: color 0.3s ease-in-out;
}

.concert-card:hover h2,
.concert-card:hover p {
    color: #fff;
}

/* Дата концерта */
.concert-date {
    display: inline-block;
    min-width: 300px;
    width: auto;
    white-space: nowrap;
    background-color: #f0a500;
    padding: 20px;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.concert-card:hover .concert-date {
    background-color: #f0a500;
}

/* Информация о концерте */
.concert-info {
    flex: 2;
    padding: 20px;
    text-align: left;
}

/* Кнопки */
.concert-buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 10px;
    margin-left: 35%;
}

.button {
    padding: 15px 25px;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s ease-in-out;
    margin-right: 14%;
}

.button:hover {
    background-color: #fff;
    transform: scale(1.15);
}

.social-icon img {
    height: 50px;
    transition: transform 0.3s ease-in-out;
    margin-left: 20%;
}

.social-icon:hover img {
    transform: scale(1.3);
}

.contacts-section h1 {
    font-size: 220%;
}

