<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Admin Panel</title>
    <link rel="stylesheet" href="/css/styles_admin_edit.css">
    <link rel="stylesheet" href="/css/styles_admin_edit_users.css">
</head>
<body>
<header>
    <h1>Панель пользователей</h1>
</header>
<div class="container">
    <div class="actions">
        <button onclick="loadUsers()">Показать всех пользователей</button>
        <button onclick="loadRoles()">Показать все роли</button>
        <button onclick="toggleAddRoleForm()">Добавить роль</button>
        <button onclick="toggleRegisterUserForm()">Добавить пользователя</button>
    </div>

    <table id="users-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Никнейм</th>
            <th>Роли</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <table id="roles-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Роль</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="form-container" id="user-form" style="display: none;">
        <h2>Добавить пользователя</h2>

        <label for="username">Никнейм: </label>
        <input type="text" id="username" name="username">

        <label for="password">Пароль: </label>
        <input type="text" id="password" name="password">

        <div id="rolesSelectContainer">
            <p>Выберите роли для пользователя:</p>
            <div id="roles-options"></div>
        </div>
        <button onclick="registerUser()">Регистрация</button>
    </div>

    <div class="form-container" id="roles-form" style="display: none;">
        <h2>Добавить роль</h2>

        <label for="role">Роль: </label>
        <input type="text" id="role" name="role">

        <button onclick="addRole()">Добавить</button>
    </div>

    <div id="modal-user" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModalUser()">&times;</span>
            <h2 id="modal-title-user">Редактирование пользователя</h2>
            <form id="edit-user-form">
                <label for="edit-user-username">ID:</label>
                <input type="text" id="edit-user-id" name="id" readonly>

                <label for="edit-user-username">Никнейм:</label>
                <input type="text" id="edit-user-username" name="username" required>

                <label for="edit-user-password">Новый пароль:</label>
                <input type="text" id="edit-user-password" name="password" required>

                <label for="edit-user-roles">Роли:</label>
                <div id="edit-user-roles"></div>

                <button type="button" onclick="saveEditedUser()">Сохранить</button>
            </form>
        </div>
    </div>

    <div id="modal-role" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModalRole()">&times;</span>
            <h2 id="modal-title-role">Редактирование роли</h2>
            <form id="edit-role-form">
                <label for="edit-role-value">ID:</label>
                <input type="text" id="edit-role-id" name="id" readonly>

                <label for="edit-role-value">Новая роль:</label>
                <input type="text" id="edit-role-value" name="role" required>

                <button type="button" onclick="saveEditedRole()">Сохранить</button>
            </form>
        </div>
    </div>
</div>
</body>
<script src="/js/script_admin_edit_users.js"></script>
</html>