<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - ШАРЫ</title>
    <link rel="stylesheet" href="/css/styles_main_admin_panel.css">
</head>
<body>
<div class="admin-container">
    <h1>Панель администратора</h1>

    <div class="panel">
        <h2>Управление пользователями</h2>
        <p>Добавляйте, редактируйте или удаляйте пользователей системы.</p>
        <a href="/api/v1/add-user/"> <button>Добавить пользователя</button> </a>
    </div>

    <div class="panel">
        <h2>Редактирование концертов</h2>
        <p>Управляйте списком концертов, отображаемых на главной странице.</p>
        <a href="/api/v1/edit-concerts"> <button>Редактировать концерты</button> </a>
    </div>

    <div class="panel">
        <h2>Редактирование товаров</h2>
        <p>Добавляйте или удаляйте товары в магазине мерча.</p>
        <a href="/api/v1/edit-shop"> <button>Редактировать товары</button> </a>
    </div>

    <div class="panel">
        <h2>Редактирование альбомов</h2>
        <p>Обновляйте информацию о текущих альбомах группы.</p>
        <a href="/api/v1/edit-albums"> <button>Редактировать альбомы</button> </a>
    </div>
</div>
</body>
</html>