<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - ШАРЫ</title>
    <link rel="stylesheet" href="/css/styles_error.css">
</head>
<body>
<div class="container">
    <div class="title">Ой, ШАРЫ лопнули!</div>
    <div class="message">Кажется, произошла ошибка. Мы уже работаем над тем, чтобы всё исправить.</div>
    <a href="/main/" class="back-btn">Вернуться на главную</a>
</div>
</body>
</html>