<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="/css/styles_login.css">
</head>
<body>
<div th:if="${param.error}" id="errorModal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal('errorModal')">&times;</span>
        <p>Введены неверные логин или пароль</p>
    </div>
</div>

<div th:if="${param.logout}" id="logoutModal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal('logoutModal')">&times;</span>
        <p>Вы вышли из аккаунта</p>
    </div>
</div>

<div class="form-container">
    <h2>Для сотрудников</h2>
    <form th:action="@{/login}" method="post">
        <div><label> Логин : <input type="text" name="username"/> </label></div>
        <div><label> Пароль: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Войти"/></div>
    </form>
</div>

<script src="/js/script_login.js"></script>
</body>
</html>

