<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/styles_shop_pages_pattern.css">
</head>
<body>
<header>
    <div id="preloader" class="preloader">
        <div class="logo">
            <img src="/img/shop_main_page/logo.jpg" class="logo-image" alt="Логотип ШАРЫ">
        </div>
    </div>

    <a href="/main/">
        <div class="logo-container">
            <img src="/img/shop_main_page/logo-circle.png" alt="Логотип" class="logo">
        </div>
    </a>

    <div id="category-list" class="category-section">
    </div>
    <div class="header-icons">
        <a href="">
            <div class="cart-icon">
                <img src="/img/shop_main_page/cart-icon.png" alt="Корзина">
                <span class="cart-count"></span>
            </div>
        </a>
    </div>
</header>

<main id="main-content" class="main-content">
    <div id="category-name" class="category-name"></div>

    <div class="carousel-container">
        <div class="carousel">
            <div id="products-list" class="products-list">
            </div>
        </div>

        <div>
            <button class="carousel-btn prev">
                &#10094;
            </button>
            <button class="carousel-btn next">
                &#10095;
            </button>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2024, ШАРЫ. Все права защищены.</p>
</footer>

<script src="/js/script_shop_load_categories.js"></script>
<script src="/js/script_shop_category_page.js"></script>
<script src="/js/script_carousel.js"></script>
<script th:inline="javascript">
    const categoryId = [[${categoryId}]];
</script>
</body>
</html>