<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Никоншоп</title>
  <link rel="stylesheet" href="/css/styles_shop_main_page.css">
</head>
<body>
<header>
  <div id="preloader" class="preloader">
    <div class="logo">
      <img src="/img/shop_main_page/logo.jpg" class="logo-image" alt="Логотип ШАРЫ">
    </div>
  </div>

  <a href="/main/">
    <div class="logo-container">
      <img src="/img/shop_main_page/logo-circle.png" alt="Логотип" class="logo">
    </div>
  </a>

  <div id="category-list" class="category-section">
  </div>
  <div class="header-icons">
    <a href="">
      <div class="cart-icon">
        <img src="/img/shop_main_page/cart-icon.png" alt="Корзина">
        <span class="cart-count"></span>
      </div>
    </a>
  </div>
</header>


<main id="main-content" class="container">
  <div class="hero-section">
    <img src="/img/shop_main_page/band-photo.jpg" alt="Фон" class="hero-image">
    <h1 class="hero-title">Никоншоп</h1>
  </div>

  <div class="carousel-container">
    <div class="carousel">
      <div class="carousel-item">
        <img src="/img/shop_main_page/first-photo.jpg" alt="Женские туфли">
        <p>Женские туфли</p>
        <p class="price">$17.00</p>
        <div class="button-container">
          <button class="add-to-cart-btn">Добавить в корзину</button>
          <a class="about-btn" href="">Подробнее...</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/shop_main_page/second-photo.jpg" alt="Кожаные перчатки">
        <p>Кожаные перчатки</p>
        <p class="price">$20.00</p>
        <div class="button-container">
          <button class="add-to-cart-btn">Добавить в корзину</button>
          <a class="about-btn" href="">Подробнее...</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/shop_main_page/third-photo.jpg" alt="Летняя шляпа">
        <p>Летняя шляпа</p>
        <p class="price">$19.00</p>
        <div class="button-container">
          <button class="add-to-cart-btn">Добавить в корзину</button>
          <a class="about-btn" href="">Подробнее...</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/shop_main_page/fourth-photo.jpg" alt="Летняя шляпа">
        <p>Летняя шляпа</p>
        <p class="price">$19.00</p>
        <div class="button-container">
          <button class="add-to-cart-btn">Добавить в корзину</button>
          <a class="about-btn" href="">Подробнее...</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/shop_main_page/fifth-photo.jpg" alt="Летняя шляпа">
        <p>Летняя шляпа</p>
        <p class="price">$19.00</p>
        <div class="button-container">
          <button class="add-to-cart-btn">Добавить в корзину</button>
          <a class="about-btn" href="">Подробнее...</a>
        </div>
      </div>
    </div>

    <div>
      <button class="carousel-btn prev">
        &#10094;
      </button>
      <button class="carousel-btn next">
        &#10095;
      </button>
    </div>
  </div>
</main>

<footer>
  <p>&copy; 2024, ШАРЫ. Все права защищены.</p>
</footer>

<script src="/js/script_shop_main_page.js"></script>
<script src="/js/script_preloader.js"></script>
</body>
</html>